<div class="gram{open ? ' -open' : ''}">

  <!-- Open -->
  {#if open}
    <div class="gram-chat">

      <!-- Header -->
      <div class="gram-chat-header" on:click="close()">
        <h2 class="gram-chat-header-title">{options.title}</h2>
        <p class="gram-chat-header-text">Geronimo is online.</p>
        <span class="gram-chat-header-close">Close</span>
      </div>

      <!-- History -->
      <ul class="gram-chat-history">
        {#each messages as m}
          <li class="gram-chat-entry-group">
            <p class="gram-chat-entry -received">
              <span class="gram-chat-entry-name">Geronimo</span>
              {m.message}
            </p>
          </li>
          <!-- TODO: group common mesages so only one will have the arrow -->
          <!-- <li class="gram-chat-entry-group">
            <p class="gram-chat-entry -sent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolor eos dolorem ipsum, deleniti officiis.</p>
          </li> -->
        {:else}
          <li class="gram-chat-empty">No messages yet</li>
        {/each}
        {#if error}
          <span class="gram-chat-message -error">
            {error}
          </span>
        {/if}
          <span class="gram-chat-message -error">
            An unknown error occurred.
          </span>
      </ul>

      <!-- Input -->
      <div class="gram-chat-input">
        <!-- TODO: Allow textarea to grow in size if user inputs stuff -->
        <textarea class="gram-chat-input-field" ref:input on:keyup="onKeyUp(event)" type="text" placeholder="Type here&hellip;"></textarea>

        <button type="button" class="gram-chat-input-button">
          <svg class="gram-icon">
            <use xlink:href="#gram-attachment" />
          </svg>
        </button>


        {#if sending}
          <!-- TODO: add class '-sending to button' -->
          <!-- Sending -->
        {/if}
        <button type="button" class="gram-chat-input-button -send -sending">
          <svg class="gram-icon">
            <use xlink:href="#gram-send" />
          </svg>
        </button>
      </div>

    </div>

  <!-- Closed -->
  {:else}
  {/if}

  <button class="gram-button">
    <svg class="gram-icon">
      <use xlink:href="#gram-chat" />
    </svg>

    <span class="gram-button-notification">1</span>
  </button>
</div>

<script>
import axios from 'axios';

export default {
  methods: {
    onKeyUp: function(e) {
      const input = this.refs.input;
      if (e.key === 'Enter') {
        this.send({message: input.value});
        input.value = '';
      }
    },
    send: function(message) {
      // Pass message once through all the callbacks
      this.get().callbacks.forEach(e => e(message));
      const {user, apiKey, lastID} = this.get();
      axios({
        method: 'post',
        url: `${this.get().baseURL}/messages`,
        params: {user, apiKey},
        data: message
      })
      .then(res => {
        this.push(res.data);
        console.log(res.data);
        this.set({error: '', lastID: lastID + 1});
      })
      .catch(res => {
        this.set({error: "Couldn't send message!"});
      }).then(()=>{
        this.set({sending: false});
      });
      this.set({sending: true});
    },
    push: function(message) {
      console.log('Adding', message);
      const msgs = this.get().messages;
      const { lastID } = this.get();
      if (message.id && message.id > lastID) {
        this.set({lastID: message.id});
      }
      // Prevent double messages when polling/sending at a similar time
      if (!msgs.find(m => m.timestamp === message.timestamp)) {
        console.log('Displaying', message);
        msgs.push(message);
        this.set({messages: msgs});
      }
    },
    pull: function() {
      const e = this.get().messages;
      const {user, apiKey, lastID} = this.get();
      axios.get(`${this.get().baseURL}/messages`, {
        params: {lastID, user, apiKey}
      }).then(res => {
        res.data.forEach((d) => {
          this.push(d);
        });
        this.set({error: ''});
      })
      .catch(res => {
        this.set({error: "No connection to server"});
      });
    },
    poll: function(pollTime=3000) {
      clearInterval(this.get().inv);
      if (pollTime) {
        const inv = setInterval(this.pull.bind(this), pollTime);
        this.set({inv});
      }
    },

    callback: function(cb) {
      const cbs = this.get().callbacks;
      cbs.push(cb);
      this.set({callbacks: cbs});
    },
    clearCallbacks: function() {
      this.set({callbacks: []});
    },
    close: function () {
      console.log('Closing');
      this.set({open: false});
    },
    open: function () {
      this.set({open: true});
    },
  }
};
</script>
