// color variables

$color-base:        #FFFFFF;
$color-light:       #F2F2F2;
$color-soft:        #AAAAAA;
$color-text:        #555555;
$color-headlines:   #333333;

$color-primary:     dodgerblue;
$color-secondary:   rebeccapurple;

$color-error:       brickred;
$color-success:     mediumseagreen;
$color-info:        dodgerblue;
$color-warning:     gold;
$color-highlight:   #ff4757;
