// layout variables

$container-width:         1440px;
$container-narrow-width:  ($container-width / 2.5);

$spacing-x-small:         0.75rem;
$spacing-small:           0.875rem;
$spacing-base:            1rem;
$spacing-medium:          1.25rem;
$spacing-large:           1.875rem;
$spacing-x-large:         3rem;

// relative layout spacings
$padding-x:               1.25rem;
$padding-section:         5rem;
$padding-section-large:   10rem;
