$fs-base:       16px;
$fs-small:      14px;
$fs-medium:     18px;
$fs-large:      21px;

$spacing-base:  20px;
$spacing-small: 10px;
$spacing-large: 36px;

$chat-padding-x: $spacing-base;
$chat-padding-y: $spacing-base;
$chat-padding:   $chat-padding-y $chat-padding-x;

$color-base:    #ffffff;
$color-box:     #f2f2f2;
$color-text:    #444444;

$border-radius: 3px;
