$gram-button-size: 64px;
$gram-button-border-radius: $gram-button-size / 2;
$gram-button-icon-size: floor($gram-button-size * 0.5);

$gram-button-color: $color-primary;

$gram-notification-font-size: $fs-x-small;
$gram-notification-size:      $gram-notification-font-size * 1.75;

.gram-button {
  @include elevate(5);
  -webkit-appearance: none;
  background: $gram-button-color;
  border: 0;
  border-radius: $gram-button-border-radius;
  color: colorInvert($gram-button-color);
  cursor: pointer;
  height: $gram-button-size;
  outline: 0;
  position: relative;
  width: $gram-button-size;

  @at-root &, button#{&} {
    margin-left: auto;
  }

  &:hover, &:focus {
    background-color: lighten($gram-button-color, 2.5%);
  }

  &:active {
    @include elevate(3);
    background-color: $gram-button-color;
    transform: translateY(1px);
  }

  .gram-icon {
    filter: drop-shadow(0 1px 1px darken($gram-button-color, 10%));
    font-size: $gram-button-icon-size;
    height: $gram-button-icon-size;
    margin-bottom: -0.05em;
    transition: all transition(ease-out-back);
    width: $gram-button-icon-size;
  }

  &-notification {
    @include elevate(1);
    align-items: center;
    background-color: $color-highlight;
    border-radius: $gram-notification-size / 2;
    color: colorInvert($color-highlight);
    display: flex;
    font-size: $gram-notification-font-size;
    height: $gram-notification-size;
    justify-content: center;
    line-height: 1;
    padding-top: 0.15em;
    position: absolute;
    right: -0.35em;
    top: 0.125em;
    width: $gram-notification-size;

    &.-hidden {
      transform: scale(0) translateY(0.5em);
    }
  }

  &::before, &::after {
    background: colorInvert($gram-button-color);
    border-radius: 2px;
    content: '';
    height: $gram-button-icon-size * 0.8;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all transition(ease-out-back);
    width: 2px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.4);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.4);
  }

  .-open & {
    &-notification, .gram-icon {
      opacity: 0;
      transform: scale(0.8);
    }

    &::before, &::after {
      opacity: 1;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
}
