$gram-chat-entry-margin: 2px;
$gram-chat-entry-border-radius: 4px;
$gram-chat-entry-arrow-size: 6px;

.gram-chat-entry {
  background: $color-box;
  border-radius: $gram-chat-entry-border-radius;
  font-size: $fs-small;
  line-height: $lh-base;
  padding: $spacing-small;
  position: relative;
  z-index: 10;

  &:not(:last-child) {
    margin-bottom: $gram-chat-entry-margin;
  }

  &.-sent {
    background-color: darken($color-primary, 7.5%);
    color: colorInvert($color-primary);
    margin-left: auto;
    align-self: flex-end;
    margin-left: $spacing-base;
  }

  &.-received {
    margin-right: $spacing-base;
  }

  &-name {
    color: lighten($color-text, 20%);
    display: block;
    font-size: 0.85em;
    margin-bottom: 0.125em;
  }


  &-group {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $spacing-small;
    }

    :last-child {
      &::before {
        border-top: $gram-chat-entry-arrow-size solid transparent;
        border-bottom: ($gram-chat-entry-arrow-size) solid transparent;
        border-right: ($gram-chat-entry-arrow-size) solid $color-box;
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -($gram-chat-entry-arrow-size);
        right: 100%;
        z-index: -1;
      }
    }

    .-sent:last-child {
      &::before {
        border-right-color: $color-primary;
        left: 100%;
        right: auto;
        transform: rotate(180deg);
      }
    }
  }
}
