.gram-chat {
  &-header {
    background: $color-primary;
    color: colorInvert($color-primary);
    cursor: pointer;
    line-height: 1.5;
    padding: $chat-padding;
    position: relative;

    &:active, &:focus {
      background: darken($color-primary, 5%);
    }

    &-title {
      color: inherit !important;
      cursor: initial;
      font-size: $fs-base;
      font-weight: $fw-bold;
      line-height: inherit;
      margin: 0;
    }

    &-text {
      cursor: initial;
      font-size: $fs-x-small;
      line-height: inherit;

      @at-root &, p#{&} {
        margin: 0;
      }
    }

    &-close {
      background: darken($color-primary, 7.5%);
      color: transparent;
      height: 24px;
      margin-right: 4px;
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;
      width: 32px;

      &:hover {
        background: darken($color-primary, 6%);
      }

      &:active {
        background: darken($color-primary, 10%);
      }

      &::after {
        border-bottom: 2px solid saturate(lighten($color-primary, 30%), 100%);
        bottom: 5px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
        width: 14px;
      }
    }
  }
}
